{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your Space travel service has ended here
      </h1>

      <p>
        Please go back and choose another option to continue your journey. Althernative learn more if this journey is 
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
